c Cardinality constraint <=k(x_1,...,x_n) for k = 3 and n = 5.
c Adders are encoded using implications.
c The numbers of clauses and variables on the next line are just upper bounds!
p cnf 13 22
1 2 -3 6 0
1 -2 3 6 0
-1 2 3 6 0
-1 -2 -3 6 0
-1 -2 7 0
-1 -3 7 0
-2 -3 7 0
6 4 -5 8 0
6 -4 5 8 0
-6 4 5 8 0
-6 -4 -5 8 0
-6 -4 9 0
-6 -5 9 0
-4 -5 9 0
7 -9 10 0
-7 9 10 0
-7 -9 11 0
-11 0
